/* GOOGLE FONT - ARCHIVO */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Archivo', sans-serif;
    color: #D9D9D9;
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #1E1C1C;
}

header{
    width:100%;
    display:flex;
    justify-content:center;
}

/* LOGO SIZING AND POSITION */
.logo img{
    width:15rem;
    object-fit:contain;
    padding:2rem;
}

/* FORM STYLE */
form{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 0rem 2rem 2rem 2rem;
    justify-content:center;
    background-color:#1E1C1C;
    border-radius:1rem;
}

/* Font size for label */
form label{
    font-size:1.5rem;
    margin: 1rem 1rem 0.25rem 1rem;
}

/* Form input styling */
form input{
    width:66%;
    padding:0.9rem;
    margin:1rem;
    border-radius:0.5rem;
    border:0.25rem;
    background-color:#D9D9D9;
}

/* Date input font style */
form input[type="date"]{
    font-family: Archivo;
    font-size:1.4rem;
    color:#1E1C1C
}

/* Submit button styling */
form button{
    padding:0.5rem 1rem;
    margin:1rem;
    border-radius:0.5rem;
    border:0.1rem solid #D9D9D9;
    background-color:#1E1C1C;
    color:#D9D9D9;
    font-size:1.35rem;
    cursor:pointer;
    transition: all 0.3s ease;
}

/* Love HAte - Button */
form button:hover{
    background-color:#D9D9D9;
    color:#1E1C1C;
}

form button:active{
    transform:scale(0.9);
}

/* MAIN */
.main-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:2rem 0.75rem;
}

/* IMAGE WRAP*/
.main_img{
    display:flex;
    justify-content: center;
}

/* APOD IMG */
#APOD_IMG{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* TEXT WRAP */
.main_txt_wrap{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 2rem 0.5rem;
}

/* Heading 1 */
main h1{
    font-size:1.5rem;
    font-weight: 600;
    text-align: center;
}

/* Photo attribute */
span{
    font-size:1.5rem;
    font-weight: 400;
    padding-block:1rem;
    text-align: center;
}

main p{
    text-align: center;
    line-height: 1.5rem;
}

/* fav btn */
#fav_btn{
    padding:0.5rem 1rem;
    margin-top:1.5rem;
    border-radius:0.5rem;
    background-color:#d9d9d9;
    color:#1E1C1C;
    font-size:1.25rem;
    font-weight: 500;
    transition: transform 0.3s ease;
}

/* fav btn active*/
#fav_btn:active{
    transform: scale(0.9);
}

/* FAVORITES SECTION */
.favorites h2{
    font-size:1.5rem;
    font-weight: 600;
    text-align: center;
    padding:1rem;
}

.favorites p{
    text-align: center;
}

/* Favorites' card container */
.apod_fav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:1rem;
    padding:1rem;
    max-width:1235px;
}

/* Favorites' card style */
.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:400px;
    cursor: pointer;
}

.card-content{
    width: 100%;
}

/* Card image */
.card-img{
    width:100%;
    aspect-ratio: 16 / 9;
    object-fit:cover;
    border-radius:0.75rem;
}

/* Alignment for card title */
.card_textwrap{
    display:flex;
    align-items:center;
    padding-block:1rem;
    gap: 1rem;
}

/* Card title */
.card h3{
    font-weight: 600;
    flex-grow: 1;
}

/* Delete button */
#del_btn{
    padding: 0.25rem 0.5rem ;
    color: #ffffff;
    background-color: #1E1C1C;
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Delete button on click */
#del_btn:active{
    color: #1E1C1C;
    background-color: #ffffff;
}

footer{
    display:flex;
    text-align: center;
    padding:1rem;
    font-size: 0.7rem;
}

/* Add styling for HD modal overlay */
/* Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* HD container styling */
.hd-container {
    position: relative;
}

.hd-container img {
    width: 100%;
    height: 90vh;
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
}

.close-button i {
    pointer-events: none; /* Ensure the icon itself is not clickable */
}

/* MEDIA QUERIES */

/* Tablet size */
@media screen and (min-width:768px){

    main h1{
        font-size:2rem;
    }

    main p{
        font-size:1.25rem;
    }

    .favorites h2{
        font-size:2rem;
    }
}

/* Desktop size */
@media screen and (min-width:1024px){

    .main-container{
        flex-direction:row;
        max-width:1200px;
    }

    #APOD_IMG{
        aspect-ratio: 4 / 3;
    }

    .main_txt_wrap{
        max-width: 48%;
        border: 1px solid #dcdcdc;
        border-left: none;
        border-radius: 0.75rem;
        padding-inline:2rem;
        align-items: flex-start;
    }

    main h1{
        font-size: 1.5rem;
        text-align: left;
    }

    main span{
        font-size:1.25rem;
        text-align: left;
    }

    main p{
        font-size: 0.9rem;
        text-align: left;
    }
}